<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div id="errorMessage" class="alert alert-danger hidden" role="alert">
                </div>
                <div id="successMessage" class="alert alert-info hidden" role="link">
                    <p> Check your emails. <a id="resendEmail" href="#" class="link-danger">Resend email</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <p class="text-center h3 fw-bold">Password Change</p>
                    <div>
                        <form id="changePasswordForm" name="changePasswordForm" class="mx-1 mx-md-4">
                            <input type="hidden" id="passwordChangeToken" name="passwordChangeToken" th:value="${token}"/>
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" id="changePasswordFormPassword" name="password" required
                                           minlength="8" maxlength="40" class="form-control" />
                                    <label class="form-label" for="changePasswordFormPassword">Password</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" id="changePasswordFormRepeatPassword" name="repeatPassword" required
                                           minlength="8" maxlength="40" class="form-control" />
                                    <label class="form-label" for="changePasswordFormRepeatPassword">Repeat your password</label>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button  id="submitButton" type="submit" name="submitButton" class="btn btn-primary btn-lg">
                                    <span id="submitButtonLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    Save
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-6 hero-img">
                    <img src="/assets/img/draw2.webp" class="img-fluid" style="max-height:80%" alt="">
                </div>
            </div>
        </div>
    </section>

</th:block>

<th:block layout:fragment="page_scripts">
    <script type="text/javascript" th:src="@{/js/change-password.js}"></script>
</th:block>

</html>