<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">

    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div id="errorMessage" class="alert alert-danger hidden" role="alert">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1>User Activity POC</h1>
                    <hr></hr>
                    <div class="row align-self-center gy-4">

                        <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                            <i class="ri-line-chart-line"></i>
                            <div>
                                <p>SpringBoot 3.2, JAVA 21, Virtual Thread</p>
                            </div>
                        </div>

                        <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <i class="ri-stack-line"></i>
                            <div>
                                <p>JWT token, LDAP with cache, RestClient</p>
                            </div>
                        </div>

                        <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <i class="ri-brush-4-line"></i>
                            <div>
                                <p>Kafka, ElasticSearch</p>
                            </div>
                        </div>

                        <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                            <i class="ri-magic-line"></i>
                            <div>
                                <p>Hazelcast, JPA, H2 Database</p>
                            </div>
                        </div>

                        <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                            <i class="ri-command-line"></i>
                            <div>
                                <p>Thymeleaf, JavaScript</p>
                            </div>
                        </div>

                        <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
                            <i class="ri-radar-line"></i>
                            <div>
                                <p>jQuery, Bootstrap</p>
                            </div>
                        </div>

                    </div>
                    <hr></hr>
                    <div class="row gy-4 aos-init aos-animate" data-aos="fade-left">

                        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <div class="box">
                                <b>
                                    <a style="color: #07d5c0;" target="_blank" href="//localhost:8081/swagger-ui/index.html" class="btn-buy">UserManager Swagger UI</a>
                                </b>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <div class="box">
                                <b>
                                    <a style="color: #65c600;" target="_blank" href="//localhost:8081/h2-console/login.jsp" class="btn-buy">User Manager  &nbsp;&nbsp; H2 Console</a>
                                </b>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <div class="box">
                                <b>
                                    <a style="color: #ff901c;" target="_blank" href="//localhost:8082/swagger-ui/index.html" class="btn-buy">Activity Log &nbsp;&nbsp; Swagger UI</a>
                                </b>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <div class="box">
                                <b>
                                    <a style="color: #ff0071;" target="_blank" href="//localhost:8082/h2-console/login.jsp" class="btn-buy">Activity Log  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; H2 Console</a>
                                </b>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/assets/img/draw2.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>

</th:block>

<th:block layout:fragment="page_scripts">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</th:block>

</html>