<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">

    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div id="errorMessage" class="alert alert-danger hidden" role="alert">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1>User Management</h1>
                    <h2>Implemented with SpringBoot3, Spring Security, JWT token, JPA, Thymeleaf, JavaScript, jQuery, and Bootstrap technologies.</h2>
                    <div>
                        <div class="text-center text-lg-start">
                            <a href="/login" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Get Started</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>

</th:block>

<th:block layout:fragment="page_scripts">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</th:block>

</html>