<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div th:if="${error} == false" id="errorMessage" class="alert alert-danger hidden" role="alert">
                </div>
                <div th:if="${error} == true" id="errorMessage" class="alert alert-danger" role="alert">
                    Invalid verification token
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="/assets/img/draw2.svg" id="loginImage"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form name="loginForm" >
                        <div class="divider d-flex align-items-center my-4">
                            <h3 class="text-center fw-bold mx-3 mb-0">Sign in</h3>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="loginFormEmail" name="email" class="form-control form-control-lg"
                                   placeholder="Enter a valid email address" />
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <label class="form-label" for="loginFormEmail">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" id="loginFormPassword" name="password" class="form-control form-control-lg"
                                   placeholder="Enter password" />
                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                            <label class="form-label" for="loginFormPassword">Password</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4 hidden">
                            <input type="text" id="loginFormCode" name="code" class="form-control form-control-lg"
                                   placeholder="Enter Verification code" />
                            <label class="form-label" for="loginFormCode">Verification code</label>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <!--
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" name="remember-me" value="" id="loginFormRememberMe" />
                                <label class="form-check-label" for="loginFormRememberMe">
                                    Remember me
                                </label>
                            </div>
                            -->
                            <a href="/forgot-password" class="">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" id="loginFormButton" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                                                                                              class="link-danger">Register</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="page_scripts">
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</th:block>

</html>