<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <div data-aos="fade-up" data-aos-delay="600">
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                        <form name="registrationForm" class="mx-1 mx-md-4"
                              th:method="POST" th:action="@{/register}" th:object="${user}">

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" id="registrationFormUserName" name="username" required
                                           minlength="3" maxlength="40" class="form-control" />
                                    <label class="form-label" for="registrationFormUserName">Your Name</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="email" id="registrationFormEmail" name="email" required
                                           minlength="6" maxlength="40" class="form-control" />
                                    <label class="form-label" for="registrationFormEmail">Your Email</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" id="registrationFormPassword" name="password" required
                                           minlength="8" maxlength="40" class="form-control" />
                                    <label class="form-label" for="registrationFormPassword">Password</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" id="registrationFormRepeatPassword" name="repeatPassword" required
                                           minlength="8" maxlength="40" class="form-control" />
                                    <label class="form-label" for="registrationFormRepeatPassword">Repeat your password</label>
                                </div>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input type="checkbox" id="registrationFormTermsAndServices" name="termsAndServices" required value=""
                                       class="form-check-input me-2" />
                                <label class="form-check-label" for="registrationFormTermsAndServices">
                                    I agree all statements in <a href="#!">Terms and service</a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" name="submitButton" class="btn btn-primary btn-lg">Register</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/assets/img/draw2.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->



</th:block>

<th:block layout:fragment="page_scripts">
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
</th:block>

</html>