<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class=" alert alert-danger" role="alert">
                    A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
            </div>


            <div class="row">

                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <p class="text-center h3 fw-bold">Sign up</p>
                    <div>
                        <form id="registerUserForm" name="registerUserForm" class="mx-1 mx-md-4"
                              th:method="POST" th:action="@{/api/registerUserForm}" th:object="${user}">

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" id="registrationFormUserName" name="username" required
                                           minlength="3" maxlength="40" class="form-control" />
                                    <label class="form-label" for="registrationFormUserName">Your Name</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="email" id="registrationFormEmail" name="email" required
                                           minlength="6" maxlength="40" class="form-control" />
                                    <label class="form-label" for="registrationFormEmail">Your Email</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" id="registrationFormPassword" name="password" required
                                           minlength="8" maxlength="40" class="form-control" />
                                    <label class="form-label" for="registrationFormPassword">Password</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" id="registrationFormRepeatPassword" name="repeatPassword" required
                                           minlength="8" maxlength="40" class="form-control" />
                                    <label class="form-label" for="registrationFormRepeatPassword">Repeat your password</label>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" name="submitButton" class="btn btn-primary btn-lg">Register</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-6 hero-img">
                    <img src="/assets/img/draw2.webp" class="img-fluid" style="max-height:80%" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
</th:block>

<th:block layout:fragment="page_scripts">
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
</th:block>

</html>