<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div id="errorMessage" class="alert alert-danger hidden" role="alert">
                </div>
            </div>
            <div class="row display" id="tableSection">
                <table id="usersTable" class="table table-striped nowrap style='width:100%' display"></table>
            </div>


            <div class="row hidden" id="formSection">
                <div class="row">
                    <div class="col-md-9 col-lg-6 col-xl-4">
                        <img src="/assets/img/draw2.svg" id="loginImage" class="img-fluid" alt="Sample image" style="padding-top: 125px;">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-6 offset-xl-1">
                        <form id="userForm" name="userForm">
                            <input type="hidden" name="id" id="id">

                            <div class="divider d-flex align-items-center my-4">
                                <h3 class="text-center fw-bold mx-3 mb-0">Profile</h3>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <i class="fas fa-envelope fa-lg me-1 fa-fw"></i>
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="email" readonly disabled>
                            </div>

                            <!-- User Name input -->
                            <div class="form-outline mb-3">
                                <i class="fas fa-user fa-lg me-1 fa-fw"></i>
                                <label for="name" class="form-label">User Name</label>
                                <input type="text" name="name" class="form-control" id="name">
                            </div>

                            <!-- Phone input -->
                            <div class="form-outline mb-3">
                                <i class="fas fa-phone fa-lg me-1 fa-fw"></i>
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" name="phone" class="form-control" id="phone">
                            </div>

                            <!--DropDowns -->
                            <div class="row gy-6">
                                <!--Authentication Method DropDown -->
                                <div id="authenticationTypeSelector" class="form-outline col-md-4 hidden">
                                    <i class="fas fa-key fa-lg me-1 fa-fw"></i>
                                    <label for="name" class="form-label">Authentication</label>
                                    <div class="dropdown">
                                        <button id="authenticationTypeButton" code="NONE" class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span>Email & Password</span>
                                        </button>
                                        <ul id="authenticationTypeDropDown" class="dropdown-menu" aria-labelledby="authenticationTypeDropDown">
                                            <li code="NONE"><a class="dropdown-item" href="#">Email & Password</a></li>
                                            <li code="APP"><a class="dropdown-item" href="#">Authentication App</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--User Status DropDown -->
                                <div id="userStatusSelector" class="form-outline mb-3 col-md-4">
                                    <i class="fas fa-registered fa-lg me-1 fa-fw"></i>
                                    <label for="name" class="form-label">Status</label>
                                    <div class="dropdown">
                                        <button id="userStatusButton" code="NONE" class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span>REGISTERED</span>
                                        </button>
                                        <ul id="userStatusDropDown" class="dropdown-menu" aria-labelledby="userStatusDropDown">
                                            <li code="PENDING"><a class="dropdown-item" href="#">Email Not Confirmed</a></li>
                                            <li code="REGISTERED"><a class="dropdown-item" href="#">Registered</a></li>
                                            <li code="LOCKED"><a class="dropdown-item" href="#">Locked</a></li>
                                            <li code="DELETED"><a class="dropdown-item" href="#">Deleted</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--User Role DropDown -->
                                <div id="userRoleSelector" class="form-outline mb-3 col-md-4">
                                    <i class="fas fa-percent fa-lg me-1 fa-fw"></i>
                                    <label for="name" class="form-label">Roles</label>
                                    <div class="dropdown">
                                        <button id="userRoleButton" code="ROLE_USER" class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span>User</span>
                                        </button>
                                        <ul id="userRoleDropDown" class="dropdown-menu" aria-labelledby="userRoleDropDown">
                                            <li code="ROLE_USER"><a class="dropdown-item" href="#">User</a></li>
                                            <li code="ROLE_ADMIN"><a class="dropdown-item" href="#">Admin</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>


                            <!--Submit button -->
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button id="submitButton" type="submit" name="submitButton" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </section>

</th:block>

<th:block layout:fragment="page_scripts">
    <script type="text/javascript" th:src="@{/js/users.js}"></script>
    <script type="text/javascript" th:src="@{/js/navbar.js}"></script>
</th:block>

</html>